body {
  font-family: Arial;
  background-color: black;
  color: white;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  font-size: 26px;
}

.equation {
  font-size: 45px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.gray-button {
  background-color: rgb(51, 51, 51);
}

.orange-button {
  background-color: rgb(254, 160, 10);
}

.clear-button {
  font-size: 17px;
}